In [ ]:
import pandas as pd
import mysql.connector

In [11]:
print(pd.read_excel('StockData/GPW/_2022-03-03_akcje.xls').columns)

Index(['Data', 'Nazwa', 'ISIN', 'Waluta', 'Kurs otwarcia', 'Kurs max',
       'Kurs min', 'Kurs zamknięcia', 'Zmiana', 'Wolumen', 'Liczba Transakcji',
       'Obrót', 'Liczba otwartych pozycji', 'Wartość otwartych pozycji',
       'Cena nominalna'],
      dtype='object')

In [12]:
print(pd.read_excel('StockData/GPW/_2022-03-03_akcje.xls'))

           Data      Nazwa          ISIN Waluta  Kurs otwarcia  Kurs max  \
0    2022-03-03    06MAGNA  PLNFI0600010    PLN          2.885     2.885
1    2022-03-03   08OCTAVA  PLNFI0800016    PLN          0.980     0.995
2    2022-03-03      11BIT  PL11BTS00015    PLN        506.000   514.000
3    2022-03-03    3RGAMES  PLGRNKT00019    PLN          0.532     0.578
4    2022-03-03  4FUNMEDIA  PL4FNMD00013    PLN          7.260     7.500
..          ...        ...           ...    ...            ...       ...
438  2022-03-03      ZEPAK  PLZEPAK00012    PLN         19.000    19.300
439  2022-03-03       ZPUE  PLZPUE000012    PLN        209.000   213.000
440  2022-03-03      ZREMB  PLZBMZC00019    PLN          4.300     4.590
441  2022-03-03        ZUE  PLZUE0000015    PLN          2.890     3.000
442  2022-03-03     ZYWIEC  PLZYWIC00016    PLN        500.000   500.000

     Kurs min  Kurs zamknięcia  Zmiana  Wolumen  Liczba Transakcji    Obrót  \
0       2.620            2.740   -2.32    42279                 98   115.17
1       0.980            0.995    1.53       13                  4     0.01
2     485.200          503.000   -0.69     7608                386  3768.31
3       0.532            0.578   -3.34    45350                 12    24.56
4       7.160            7.500    4.17     1377                 11     9.96
..        ...              ...     ...      ...                ...      ...
438    16.900           17.300   11.25   279291               1308  5043.77
439   206.000          207.000   -1.43       70                  7    14.67
440     3.500            3.760  -10.48  1707088               2255  6850.55
441     2.870            2.950    2.79    46918                 55   138.77
442   496.000          500.000    1.01       20                  6     9.99

     Liczba otwartych pozycji  Wartość otwartych pozycji  Cena nominalna
0                           0                          0               0
1                           0                          0               0
2                           0                          0               0
3                           0                          0               0
4                           0                          0               0
..                        ...                        ...             ...
438                         0                          0               0
439                         0                          0               0
440                         0                          0               0
441                         0                          0               0
442                         0                          0               0

[443 rows x 15 columns]